* {
	padding: 0;
	margin: 0;
}

header {
	width: 100%;
	background: #B0C5D9;
}

.header_container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}

.logo {
	float: left;
}

.logo_img {
	width: 165px;
	height: 75px;
}

.option_container {
	float: right;
	overflow: hidden;
	padding: 22px 0;
}

.option {
	float: right;
	margin-left: 15px;
	
}

.option a {
	text-decoration: none;
	font-size: 21px;
	padding: 5px 15px;
	background: #EF5222;
	border-radius: 30px;
	opacity: 0.7;
	color: black;
	transition: 1s;
}

.option a:hover {
	color: white;
	opacity: 1;
}

.option:last-child {
	margin-left: 0;
}

.booking_table {
	width: 30%;
}
