body {
	margin: 0;
	padding: 0;
	background: #673BB7;
}

.container {
	padding: 0;
	margin: auto;
	width: 50%;
	border: 1px solid black;
	text-align: center;
	
}

.form_container {
	width: 100%;
	border: 1px solid black;
	background: #4B2395;
	opacity: 0.4;
}

.info_input {
	display: block;
	width: 400px;
	height: 50px;
	border: none;
	border-bottom: 1px solid white;
	background: #4B2395;
	color: white;
	margin: auto;
	outline: none;
	padding-left: 15px;
}

.info_input::placeholder {
	color: white;
}
