* {
	margin: 0;
	padding: 0;
}

.dialog {
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 50px;
	left: 0;
	top: 0;
	overflow: auto;
	background-color: rgba(0,0,0,0.3);
}

.container {
	width: 60%;
	margin: auto;
}

.container_nav {
	width: 100%;
	overflow: hidden;
	background: #0E1935;
}

.logo {
	float: left;
	padding: 25px 0px;
	margin-left: 20px;
}

.menu {
	float: right;
	overflow: hidden;
	font-size: 16px;
}

.login_register {
	float: right;
	padding: 28px 25px;
	border: none;
	background: #0E1935;
	color: #FCFEFF;
	outline: none;
}

button {
	cursor: pointer;
}

.selected_button {
	border-bottom: 5px solid #5485FE;
}

.logo span {
	color: #FCFEFF;
	font-size: 22px;
}

.slide {
	position: relative;
	top: 0;
	left: 0;
	padding-top: 50px;
	padding-bottom: 50px;
	color: #B0B2C4;
	background: #F6F7FB;
}

.form_item {
	border-bottom: 1px solid #B0B2C4;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	padding: 10px 5px;
}

.input_content {
	font-size: 16px;
	width: 290px;
	padding-left: 15px;
	padding-right: 15px;
	outline: none;
	border: none;
	background: #F6F7FB;
}

.radio_gender {
	margin-left: 15px;
	color: #B0B2C4;
}

.user_pass_img {
	width: 20px;
	height: 20px;
	margin-left: 5px;
}

.form_item:first-child {
	margin-top: 50px;
}

::placeholder  {
	color: #B0B2C4;
}

.submit {
	display: block;
	width: 225px;
	height: 45px;
	border-radius: 25px;
	background: #5485FE;
	font-weight: bolder;
	outline: none;
	border: none;
	margin: auto;
	color: white;
	margin-top: 65px;
}

.header_text {
	text-align: center;
}

.register_slide {
	display: none;
}
